@model MusicFall2016.Models.Album
@{
    ViewBag.Title = "Details";
}
<h2> Album Details</h2>
<form action="/" method="post">
    Title: @Model.Title<br />
    Artist: @Model.Artist.Name<br />
    Bio: @Model.Artist.Bio<br />
    Genre: @Model.Genre.Name<br />
    Price: @Model.Price<br />
    Like: @Model.Likes<br />
</form>

<form asp-action="Like" asp-route-id="@Model.AlbumID">
    <button>Like</button>
</form>
<form action="/Albums/Details" method="get">
    <button>Go back</button>
</form>